:root {
    --primary-color: #10B981;
    --primary-hover: #059669;
    --bg-gradient: linear-gradient(135deg, #3c434e 0%, #373e4b 100%);
    --card-bg: rgba(242, 243, 247, 0.7);
    --text-main: #2d3748;
    --text-muted: #718096;
    --test-main-title : #cfc8c8;
}

.auth-wrapper {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-image: 
        /* Makes a dark filter */
        linear-gradient(rgba(15, 23, 42, 0.7), rgba(15, 23, 42, 0.7)),
        url('../assets/login-bg.png'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

.auth-main-title {
    color: var(--test-main-title);
    font-size: 4.5rem; 
    font-weight: 900; 
    text-transform: uppercase;
    letter-spacing: 3px; /* Maked spaces between letters */
    margin-top: -105px; 
    margin-bottom: 65px;
    text-shadow: 0px 8px 15px rgba(0, 0, 0, 0.6), 0px 2px 4px rgba(0, 0, 0, 0.8);
    text-align: center;
    
}

.auth-container {
    width: 100%;
    max-width: 550px; 
    padding: 60px 50px; 
    border-radius: 24px; 
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15); 
    text-align: center;
    background: linear-gradient(var(--card-bg));
    box-sizing: border-box;
}


.auth-title {
    margin-bottom: 40px;
    color: var(--text-main);
    font-size: 2.5rem; 
    font-weight: 800;
    letter-spacing: -0.5px;
;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 25px; 
}

.auth-input {
    padding: 20px 25px;
    font-size: 1.2rem;
    color: var(--text-main);
    background-color: #f8fafc;
    border: 2px solid #e2e8f0;
    border-radius: 16px;
    outline: none; /* Removes browser default focus outline */
    transition: all 0.3s ease;
}

.auth-input::placeholder {
    color: #a0aec0;
}

.auth-input:focus {
    border-color: var(--primary-color);
    background-color: #ffffff;
    box-shadow: 0 0 0 4px rgba(16, 185, 129, 0.2);
}

.auth-button {
    margin-top: 15px;
    padding: 20px;
    font-size: 1.4rem;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(135deg, var(--primary-color) 0%, var(--primary-hover) 100%);
    border: none;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 8px 20px rgba(16, 185, 129, 0.3);
    box-sizing: border-box;
}

.auth-button:hover {
    transform: translateY(-3px); 
    box-shadow: 0 12px 25px rgba(16, 185, 129, 0.4);
}

.auth-button:active {
    transform: translateY(1px); 
}

.auth-message {
    margin-top: 30px;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--primary-hover);
}

.auth-toggle {
    margin-top: 35px;
    background: none;
    border: none;
    color: var(--text-muted);
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.2s;
}

.auth-toggle:hover {
    color: var(--text-main);
    text-decoration: underline;
}

/* =========================================
   MOBILE  under 768px 
   ========================================= */
@media (max-width: 768px) {
    .auth-wrapper {
        padding: 0;
        align-items: flex-start;
         background-image: 
        /* Makes a dark filter */
        linear-gradient(rgba(35, 43, 61, 0.7), rgba(69, 75, 90, 0.7)),
        url('../assets/login-bg-mobile.png'); 
        background-size: cover;
        background-position: center; 

        
    }

   

    .auth-main-title {
        display: none;
    }
    .auth-container {
        padding: 20px 30px 30px 30px;
        box-shadow: none; 
        border-radius: 0;
        background: linear-gradient(var(--card-bg)); 
        width: 100%;
        height: 100vh;
        max-width: 100%;
        max-height: 100vh;
        box-sizing: border-box;
    }

    .auth-title {
        margin-top: 80px;
        font-size: 3.5rem;
        margin-bottom: 50px;
    }

    .auth-input {
        padding: 18px 20px;
        font-size: 1.1rem;
    }

    .auth-form {
        gap: 45px;
    }
    .auth-button {
        padding: 18px;
        font-size: 1.3rem;
    }
}